#container {
    padding: 5px 5px 35px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media screen and (max-width: 600px) {
    #container {
        flex-direction: column;
        align-items: center;
        padding: 25px;
    }
    #keyboard {
        gap: 0px;
        grid-template-columns: 50px 50px 50px;
    }
    
}