#keyboard {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 8px;
}

#keyboard .key {
    width: 110px;
    height: 80px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(250, 194, 110);
    box-shadow: 2px 2px 5px black ;
}

#keyboard .key:hover {
    cursor: pointer;

}


@media screen and (max-width: 600px) {
    #keyboard {
        grid-template-columns: 110px 110px 110px;
    }
    
}