#keyboard {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 8px;
}

#keyboard .drum-pad {
    width: 110px;
    height: 80px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(250, 194, 110);
    box-shadow: 2px 2px 5px black ;
    transition: transform 0.1s, background-color 0.1s;

}

#keyboard .drum-pad.active {
    transform: scale(0.95);
    background-color: #fa9e35; 
}

#keyboard .drum-pad:hover {
    cursor: pointer;

}

#keyboard .drum-pad:focus {
    outline: none;
}



@media screen and (max-width: 600px) {
    #keyboard {
        grid-template-columns: 110px 110px 110px;
    }
    
}