#drum-machine {
    max-width: 700px;
    background-color: #dcb6ff;
    border: 5px solid #ffd04b;
    margin: 150px auto;
    border-radius: 10px;
}

h2 { 
    margin: 0px 5px;
    text-align: end;
    font-style: italic;
    text-decoration: underline;
    text-underline-offset: 3px;
}

body {
    background-color: #9b25d6;
}

@media screen and (max-width: 600px) {
    #drum-machine {
        width: fit-content;
    }
    
}